apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: catvsdog-monitoring
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/purushravan/catvsdog.git
    targetRevision: HEAD
    path: k8s

    kustomize:
      namePrefix: ""
      nameSuffix: ""

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true

    syncOptions:
      - CreateNamespace=true
      - PruneLast=true

    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 2m
